:root {
  --page-width: 960px;

  --color-background: #E2E7ED;
  --color-background-text: #0B0B60;

  --color-header-background: #010037;
  --color-header-text: #ffffff;

  --color-card-background: #ffffff;
  --color-card-text: #0B0B60;

  --color-button: #DB0A5B;
  --color-button-text: #DB0A5B;
}
