@font-face {
  font-family: 'Dosis';
  src: local('Dosis-VariableFont_wght'), url(../fonts/Dosis-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito-VariableFont_wght'), url(../fonts/Nunito-VariableFont_wght.ttf) format('truetype');
}
