@import './Fonts.css';
@import './Colors.scss';

:root {
  --font-base: 16;
  --text-base-size: 1rem;
  --text-line-height: 1.5rem;
  --font-family: 'Dosis';
  --font-family-header: 'Nunito';
}

@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  font-weight: 500;
  color: var(--color-background-text);
}

strong, b {
  font-weight: 700;
}

small {
  font-size: calc(1rem * (13 / var(--font-base)));
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
}

h1, h3, h5 {
  font-weight: 900;
}

h2, h4, h6 {
  font-weight: 650;
}
